@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
body {
    background-image: url("https://chinese.freecodecamp.org/news/content/images/size/w1000/2022/10/jonatan-pie-3l3RwQdHRHg-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}

.main{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.header h1{
    margin-left: 12px;
}
.notes__title {
    color: #fff;
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 400;
}
.notes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,minmax(300px,1fr));
}

@media screen and (max-width: 900px) {
    .notes{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .notes {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}